name: MLflow Project CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: telco_churn_env
          environment-file: Workflow-CI/MLProject/conda.yaml

      - name: Install dependencies
        run: |
          pip install mlflow dagshub

      - name: Run MLflow Project
        working-directory: Workflow-CI/MLProject
        run: |
          mlflow run . | tee mlflow_output.txt

      - name: Get latest MLflow run id
        working-directory: Workflow-CI/MLProject
        run: |
          RUN_ID=$(grep -oE "Run \(ID '([a-f0-9]+)'\)" mlflow_output.txt | head -n 1 | grep -oE "[a-f0-9]{32}")
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Using RUN_ID=$RUN_ID"

      - name: Build Docker Image
        working-directory: Workflow-CI/MLProject
        run: |
          mlflow build docker -m runs:/$RUN_ID/model -n telco-churn-ci

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag & Push Image
        run: |
          docker tag telco-churn-ci ${{ secrets.DOCKER_USERNAME }}/telco-churn-ci:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-ci:latest
